


.tupperware > * {
  border: 1px solid #c9ff23;
  border-radius: 1px;
  padding: 10px;
  flex-basis: 200px;
  flex-shrink:3;
  
  flex-grow:1;
  overflow: hidden;
  width: fit-content;
  block-size: max-content;
  height: fit-content;
  align-items: flex-start;
  transition: all 300ms ease-in-out;
  
  &:hover {
    flex-grow: 9.3;
    
  }
}


.tupperware {
  display: flex;
  flex-flow: row wrap; 
  padding: 1px;
  gap: 1px;
  height: auto;
}

.tupperware img {

}

.tupperware figcaption {
  background-color: #22222290;
  color: #fff;
  font: bold small sans-serif;
  padding: 3px;
  text-align: center;
}
